.fund.complete {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-width: 400px) {
  .fund.complete {
    text-align: left;
  }
}

.fund.complete .title {
  font-weight: 800;
  margin-bottom: 15px;
  align-items: center;
}
.fund.complete .tagline {
  font-size: 1.2em;
  color:#e7c49c;
}

.fund.complete h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #e7c49c;
  font-weight: 700;
  font-size: 1.8em;
}

/* .fund.complete span {
  padding: 0 30px;
} */

.fund.complete table tr td p {
  display: inline;
}

.fund.complete td {
  font-size: 18px;
  padding-bottom: 10px;
}

.fund.complete table tr td:nth-child(1) {
  color: #fff7d0;
  font-weight: 600;
}

.fund.complete .logo-character {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  max-width: 80%;
}
@media screen and (max-width: 400px) {
  .fund.complete .logo-character {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 200px;
    height: 200px;
  }
}

.fund.complete .logo {
  text-align: center;
  margin-top: 10px;
  height: 200;
  max-width: 500px;
}

.fund.complete .table {
  margin-left: 5px;
}

.logo-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  max-width: 500px;
}