/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

.blog .articles {
  padding-top: 90px;
  padding-bottom: 50px;
}

.blog .blog-img {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: black !important;
  height: 480px;
}

.blog h1, b {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.blog .title {
  padding-top: 215px;
}

.blog .pages {
  height: 46px;
  background-color: red;
}

.blog {
  padding-bottom: 148px
} */
