.planet-card {
  margin-bottom: 10px;
  align-items: center;
  background-color: rgba(41, 52, 100, 0.8);
  padding: 20px;
  padding-bottom: 30px;
  text-align: center;
  max-width: 400px;
  border-radius: 10px;
}

.planet-card h4 {
  font-weight: 800;
  color: #fff7d0;
}

.planet-card img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
}

.planet-card p {
  color: #dddddd;
}

.address-link {
  color: #fff7d0;
  text-decoration:none;
}

.planet-label {
  color: #fff7d0;
  font-weight: 600;
}

.planet-attribute {
  color: white
}

.planet-card .link {
  color: inherit;
  text-decoration: inherit;
}
.planet-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
